@{
    ViewData["Title"] = "Agregar Deportista";
}

<form action="" method="post">
    <fieldset>
        <legend>INFORMACIÓN BASICA</legend>
            Apellido: <input type="text" name="Apellido" required minlength="3" placeholder="Apellidos">
            Nombre: <input type="text" name="Nombre" required minlength="3" placeholder="Nombres">
            Fecha de Nacimiento: <input type="date">
            Foto:<input type="text" name="Foto" placeholder="URL">
            
    </fieldset>
    <input type="submit">
</form>