@{
    ViewData["Title"] = "Agregar Deportista";
}

<form action="">
    Apellido: <input type="text" name="Apellido" required minlength="3">
    Nombre: <input type="text" name="Nombre" required minlength="3">
    Fecha de Nacimiento: <input type="date">
    
    <input type="submit">
</form>