@{
    ViewData["Title"] = "Creditos";
}
<div class="main">
    <h1>Integrantes del Grupo:</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/img/Lucas.jpeg" class="card-img-top" alt="Lucas Benezra">
                    <div class="card-body text-center">
                        <h5 class="card-title">Lucas Benezra</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="~/img/Milo.jpeg" class="card-img-top" alt="Milo Landivar">
                    <div class="card-body text-center">
                        <h5 class="card-title">Milo Landivar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>