@{
    ViewData["Title"] = "Historia";
}
<div class="header-pages">
    <div class="header-overlay"></div>
</div>
<div class="main">
    <h1>Historia:</h1>
    <div class="historia">
        <p>Los Juegos Olímpicos tienen una historia rica que se remonta a la Antigua Grecia, donde se celebraron por primera vez en el año 776 a.C. en la ciudad de Olimpia. Estos juegos, dedicados al dios Zeus, reunían a atletas de diversas polis griegas que competían en disciplinas como la carrera a pie, el lanzamiento de disco, la lucha y el pentatlón. Los Juegos Olímpicos antiguos se celebraban cada cuatro años y eran un evento de gran importancia religiosa y social, donde se declaraba una tregua sagrada para permitir a los atletas viajar con seguridad a Olimpia.</p>
        <img src="https://c.files.bbci.co.uk/6DEE/production/_119424182_gettyimages-463897853-1.jpg">
        <p>Con la llegada del cristianismo y la caída del Imperio Romano, los Juegos Olímpicos fueron prohibidos en el año 393 d.C. por el emperador Teodosio I, ya que los consideraba un ritual pagano. Pasaron más de 1.500 años hasta que los Juegos Olímpicos fueron revividos.</p>
        <p>En 1896, gracias a los esfuerzos del barón Pierre de Coubertin, los Juegos Olímpicos modernos se celebraron en Atenas, Grecia, con la participación de 14 países y 241 atletas, todos hombres. Estos primeros Juegos Olímpicos de la era moderna marcaron el inicio de lo que hoy es uno de los eventos deportivos más importantes a nivel mundial.</p>
        <img src="https://historia.nationalgeographic.com.es/medio/2020/05/14/ceremonia-de-apertura-de-los-juegos-olimpicos-de-1896-en-el-estadio-panathinaiko_a34088f8_1200x630.jpg">
        <p>Desde entonces, los Juegos Olímpicos se han celebrado cada cuatro años, excepto durante las Guerras Mundiales. A lo largo de los años, el evento ha crecido enormemente en tamaño e importancia, incorporando a mujeres en 1900 y nuevas disciplinas deportivas. En 1924 se introdujeron los Juegos Olímpicos de Invierno, dedicados a deportes como el esquí, el patinaje y el hockey sobre hielo.</p>
        <p>Los Juegos Olímpicos han sido un escenario para momentos históricos y simbólicos, como el saludo nazi en Berlín 1936, la protesta de los atletas afroamericanos en México 1968 y el atentado terrorista en Múnich 1972. También han sido un lugar donde los atletas han superado barreras políticas, culturales y sociales, simbolizando la paz y la unidad entre las naciones.</p>
        <p>Hoy en día, los Juegos Olímpicos son un evento global que reúne a miles de atletas de todo el mundo para competir en una amplia variedad de deportes. El movimiento olímpico sigue promoviendo los valores de excelencia, amistad y respeto, inspirando a millones de personas en todo el mundo.</p>
        <img src="https://chequeado.com/wp-content/uploads/2024/07/Template-Nota-web-35.png">
    </div>
</div>