@{
    ViewData["Title"] = "Index";
}

<div class="header-index">
    <div class="header-overlay"></div>
    <h1>Juegos Olímpicos París 2024</h1>
</div>
<div class="main">
    <h1>Página de Inicio</h1>
    <p>La página de inicio del sitio web oficial de los Juegos Olímpicos París 2024 es un punto de partida vibrante y atractivo, diseñado para sumergir a los usuarios en la atmósfera del evento. Dominada por una imagen panorámica de París, con la Torre Eiffel destacada, la página captura la esencia y el esplendor de los Juegos.</p>
    <p>El menú de navegación, situado en la parte superior, ofrece acceso rápido a secciones clave: "Historia", donde los usuarios pueden explorar la rica trayectoria de los Juegos Olímpicos en París, desde su primera edición hasta el presente; "Deportes", que proporciona detalles de cada disciplina olímpica, incluyendo horarios de competiciones, sedes, y reglas esenciales; "Países", con información sobre las delegaciones de cada nación, estadísticas y los logros más recientes de sus atletas; "Agregar Deportista", una funcionalidad que permite a los administradores del sitio registrar nuevos atletas; y "Créditos", donde se reconoce a las personas y organizaciones que han contribuido al desarrollo del sitio.</p>
    <p>Al desplazarse hacia abajo, los usuarios encuentran una sección de noticias actualizadas que cubren los eventos más recientes, entrevistas con atletas, y videos destacados. También hay un medallero interactivo que permite explorar los resultados por país y deporte, así como una sección dedicada a la historia de los Juegos Olímpicos, con imágenes y relatos de ediciones anteriores. La página está optimizada para dispositivos móviles, garantizando que los usuarios puedan acceder fácilmente a la información desde cualquier lugar.</p>
    <div class="flexbox">
        <img src="https://altoquedeportes.com.ar/wp-content/uploads/2023/12/foto-jjoo-paris-2024-torreeiffel-20231208.jpg">
        <img src="https://i0.wp.com/efe.com/wp-content/uploads/2023/10/registro-sede-comite-olimpico-paris-1.jpg?fit=900%2C600&ssl=1">
        <img src="https://media.glamour.mx/photos/667c92f4b9f05387d65162c5/master/pass/programa-de-los-juegos-olimpicos-2024.jpg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6AR-KehdimcYo_OtRFsiFOmepg0CEWiHLtA&s">
        <img src="https://statics.eleconomista.com.ar/2024/07/crop/66a14491e0715__420x280.webp">
        <img src="https://utopiaurbana.city/wp-content/uploads/2022/12/24d150db-7cd4-4d5a-802a-61a752474ab3_alta-libre-aspect-ratio_default_0.jpg">
    </div>
</div>
