@{
    ViewData["Title"] = "Paises";
}
<div class="main">
    <h1>Países:</h1>
    <div class="flexbox">
        @foreach(Pais pais in ViewBag.ListaPaises){
            <a href='@Url.Action("VerDetallePais", "Home", new{idPais = pais.IdPais})'>
                <div class="item card">
                    <img src="@pais.Bandera">
                    <h2>@pais.Nombre</h2>
                </div>
            </a>
        }
    </div>
</div>