@{
    ViewData["Title"] = "Deportista";
}
<div class="main">
    <h1>@ViewBag.DeportistaElegido.Nombre @ViewBag.DeportistaElegido.Apellido</h1>
    <img src="@ViewBag.DeportistaElegido.Foto">
    <p>@ViewBag.DeportistaElegido.FechaNacimiento
</div>