html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: #3EB0c4 !important;
}

/*INICIO NAVEGADOR*/

.header-index{
  height: 100vh;
  box-sizing: border-box;
  background-image: url(https://estaticos-cdn.prensaiberica.es/clip/936c0394-b6a0-46ee-8176-ef866601198a_source-aspect-ratio_default_0.jpg);
  background-position: center;
}

.header-overlay{
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(#000b, transparent);
}

header, .header-overlay{
  box-sizing: border-box;
}

.main-nav{
  padding: 2px;
  position: fixed;
  width: 60%;
  background-color: #fff9;
  border-radius: 15px;
  top:5px;
  left: 20%;
  z-index: 2;
}
.main-nav .ul__nav{
  display: flex;
  justify-content: space-evenly;
}
.main-nav a{
  display: inline-block;
  padding: 2px 3px;
  border-radius: 15px;
  transition-property: background-color;
  transition-duration: 0.4s;
}
.main-nav .item a{
  padding: 5px 11px;
  color: #000;
  text-decoration: none;
}
.main-nav a:hover{
  background-color: #fffd;
}
.ul__nav{ 
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav img{
  height: 60px;
  width: auto;
}

/*FIN NAVEGADOR*/

.main{
  margin-top: 10vh !important;
}
.col{
  padding: 50px
}
form{
  text-align: center;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px !important;
}

p{
  text-wrap:balance;
  margin-left: 5px;
}

.historia p{
  font-size: 25px;
}
.historia img{
  height: 400px;
  width: auto;
  margin: 10px;
  margin-left: 5px;
}
.card {
  background-color: #f8f1e4; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card-title {
  color: #b15d1f; 
  font-weight: bold;
}
.container {
  margin-top: 15px;
}
.card-img-top {
  border-radius: 15px 15px 0 0;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}